# Ignore Python virtual environment
env/

# Ignore environment configuration files
*.env

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore Node modules
node_modules/

# Ignore build files
build/
dist/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore frontend dependency files
frontend/node_modules/
frontend/package-lock.json

# Ignore backend dependency files
backend/__pycache__/
backend/*.pyc

# Ignore IDE config files
*.vscode/
*.idea/

