.hero {
  text-align: center;
  padding: 2rem 0;
}

.hero button {
  background-color: var(--main-orange);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Hachi Maru Pop', cursive;
  transition: background-color 0.3s ease;
}

.hero button:hover {
  background-color: rgb(34, 160, 179); /* Hover color */
}





  