.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--main-orange);
  height: 150px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  border-radius: 12px;
  height: 150px; /* Resize for proportion */
  width: auto;
}

.logo-title {
  display: flex;
  flex-direction: column; /* Stacks the text vertically */
  font-family: 'Chelsea Market', cursive;
  font-size: 1.5rem; /* Adjusted for better fit */
  color: white;
  line-height: 1.2; /* Space between lines */
  text-align: left; /* Align text to the left */
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center; /* Center the links horizontally */
  gap: 2rem;
  margin: 0;
}

.nav-links li {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #024B62;
  cursor: pointer;
}
.nav-links li a {
  text-decoration: none;
  color: #024B62;
}

.nav-links li a:hover {
  color: white;
}

.nav-links li a:visited {
  color: #024B62; /* Prevent purple color */
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-bar input[type="text"] {
  font-family: 'Poppins', sans-serif;
  padding: 0.5rem;
  border: 1px solid var(--text-dark);
  border-radius: 5px;
}

.search-bar button {
  font-family: 'Hachi Maru Pop', cursive;
  background-color: var(--tan-bg);
  color: #024B62;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: rgb(34, 160, 179);
  color: #ffffff;
}